[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bercik/Desktop/wd]
row=2
col=0

[/home/bercik/Desktop/DWR-921-C3-WW-V01.01.3.006-2017-08-23.bin]
row=5
col=0

[/home/bercik/Desktop/TL-MR6400(EU)v5_1.1.0_0.9.1_[210803-rel55933]_up_boot_Release_2021-08-03_16.29.26.bin]
row=4
col=0

[/home/bercik/Desktop/Age of Empires II HD The Forgotten.desktop]
row=3
col=0

[/home/bercik/Desktop/20230402211523_000020.MP4]
row=6
col=0

[/home/bercik/Desktop/maxtor]
row=1
col=0

[/home/bercik]
row=0
col=0

