[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bercik/Desktop/wd]
row=2
col=0

[/home/bercik/Desktop/Age of Empires II HD The Forgotten.desktop]
row=3
col=0

[/home/bercik/Desktop/maxtor]
row=1
col=0

[/home/bercik]
row=0
col=0

